
<html>

  <head>Navigator</head>

  <body>

    <nav id='nav-bar'>
      <img class='logo' src=''>
      <h1 class='name'>Navigator</h1>

      <!-- Insert form for Login/Register or Profile Icon -->

    </nav>


  </body>

</html>
