
<html>

  <head>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- Main Layout CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- Nav Bar CSS -->
    <link rel="stylesheet" href="/styles/nav.css" type="nav/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<!--     <script type="text/javascript" src="/scripts/user_show.js"></script> -->


  </head>

  <body>

    <nav id='nav-bar'>
      <a href='/'>
      <img class='logo' src='/images/NavigatorLogo.png'>
      <span class='name'>Navigator</span>
    </a>

    <% if (!user_id) { %>
      <a href='/register'>
        <span class='register'>Register</span>
      </a>
      <a href='/login'>
        <span class='login'>Login</span>
      </a>
    <% } else { %>
      <a href='/logout'>
        <span class='logout'>Logout</span>
      </a>
      <a href='/users'>
        <span class='profile'>Profile</span>
      </a>

    <% } %>

      <!-- Insert form for Login/Register or Profile Icon -->

    </nav>


  </body>

</html>
