<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>

    <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
  </head>

  <body>
    <header><% include ./partials/header %></header>

    <div id="clouds">
      <div class="cloud x1"></div>
      <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
        <div class="cloud x6"></div>
        <div class="cloud x7"></div>
        <p class="animated fadeIn" id="welcome">Time flies. It's up to you to be the </p><p class="test">Navigator</p> <p>- Robert Orben</p>
        <div class="big_blink"></div>
        <div class="small_blink"></div>
    </div>
  </body>
</html>
