<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  </head>

  <body>
    <header><% include ./partials/header %></header>
    <div style="padding-top: 65px"></div>

    <button type="button" data-filter="all">All</button>
    <button type="button" data-filter=".Watch">Watch</button>
    <button type="button" data-filter=".Play">Play</button>
    <button type="button" data-filter=".Read">Read</button>
    <button type="button" data-filter=".t5">5 MINUTES</button>
    <button type="button" data-filter=".t10">10 MINUTES</button>
    <button type="button" data-filter=".t15">15 MINUTES</button>
    <button type="button" data-filter=".t30">30 MINUTES</button>
    <button type="button" data-filter=".t60">1 HOUR</button>
    <button type="button" data-filter=".t120">2 HOURS</button>
    <button type="button" data-filter=".t180">3 HOURS</button>
    <button type="button" data-filter=".t240">4 HOURS</button>
    <div class="container"></div>

    <script type="text/javascript" src="/scripts/patrickkunka-mixitup-2990488/dist/mixitup.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


  </body>
</html>`
