
<html>

  <head></head>

  <body>
    <header><% include ./partials/header %></header>

    <div class="form-box">
      <form action='/login' method='POST'>
        <div>
          <label for='handle'>User Name</label>
          <input type='text' id='handle' name=''>
        </div>
        <div>
          <label for='password'>Password</label>
          <input type='password' id='password' name=''>
        </div>
        <div class='button'>
        <button type='submit'>Login</button>
        </div>
      </form>
    </div>

  </body>

</html>
