
<html>

  <head></head>

  <body>
    <header><% include ./partials/header %></header>

    <div class="form-style-6">
      <h1>Login</h1>
      <div class='error-flash'>
        <% include ./partials/_flash%>
      </div>
      <form action='/login' method='POST'>
        <input type='email' name="email" placeholder='Email' />
        <input type='password' name='password' id='password' placeholder='Password'>
        <input type="submit" value="Submit" />
      </form>
    </div>

  </body>

</html>
