
<html>

  <head></head>

  <body>
    <header><% include ./partials/header %></header>

    <div class='form-box'>
      <form action='/register' method='POST'>
        <div>
<<<<<<< HEAD
          <label for='name'>Name</label>
          <input type='text' id='name' name=''>
        </div>
        <div>
          <label for='email'>Email</label>
          <input type='email' id='email' name=''>
        </div>
        <div>
          <label for='handle'>User Name</label>
          <input type='text' id='handle' name=''>
        </div>
        <div>
          <label for='password'>Password</label>
          <input type='password' id='password' name=''>
=======
          <label for='name'></label>
          <input type='text' id='name' name='name'>
        </div>
        <div>
          <label for='email'></label>
          <input type='email' id='email' name='email'>
        </div>
        <div>
          <label for='password'></label>
          <input type='password' id='password' name='password'>
>>>>>>> bfcc2f5e168f4dbca86d8e2ee124fb0b80899b0d
        </div>
        <div class='button'>
        <button type='submit'>Register</button>
        </div>
      </form>
    </div>

  </body>

</html>
