
<html>

  <head>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/update.js"></script>
  </head>

  <body>
    <header><% include ./partials/header %></header>

  <main class='form-style-6'></main>

  </body>

</html>
