
<html>

  <head></head>

  <body>
    <header><% include ./partials/header %></header>
<<<<<<< HEAD
    <
=======

<<<<<<< HEAD
    <div class='create-list'>
    <form action='/users' method='POST'>
      <div>
        <label for=''>Title</label>

      </div>
    </form>
    </div>
=======

>>>>>>> 1f17827bfc8024329f458acd53c5758f42d4b9f1
>>>>>>> master
  </body>

</html>
