
<html>

  <head></head>

  <body>
    <header><% include ./partials/header %></header>

    <div class='create-list'>
    <form action='/users' method='POST'>
      <div>
        <label for=''>Title</label>

      </div>
    </form>
    </div>
  </body>

</html>
