
<html>

  <head></head>

  <body>
    <header><% include ./partials/header %></header>

    <div class='create-list'>
    <form action='/main/add' method='POST'>

    </form>
    </div>
  </body>

</html>
