
<html>

  <head>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/users.js"></script>
  </head>

  <body>
    <header><% include ./partials/header %></header>


    <main class='user-box'>


      <span class='username'>Username</span>

      <a href='/newList'>
        <span class='addList'>Add List</span>
      </a>

    </main>

  </body>

</html>
