body {
  background-color: #EEE;

  nav {
    background-color: #639eff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 2em 0 0;
    border-bottom: solid .15em grey;

    img {
      height: 2.75em;
      width: 2.75em;
      margin: .6em .15em .25em 1.5em;
      float: left;
    }

    .name {
      color: white;
      float: left;
      margin: .35em .25em;
      height: 100%;
      font-size: 1.75em;
      line-height: 1.5;
    }

    .name:hover {
      background-color: #639eff;
    }

    .register {
      float: right;
      margin: 1em .5em;
      border-radius: .25em;
      color: white;
      border: solid .15em white;
      padding: .2em;
    }

    .login {
      float: right;
      margin: 1em .5em;
      border-radius: .25em;
      color: white;
      border: solid .15em white;
      padding: .2em;
    }

    .profile {
      float: right;
      margin: 1em .5em;
      border-radius: .25em;
      color: white;
      border: solid .15em white;
      padding: .2em;
    }

    .logout {
      float: right;
      margin: 1em .5em;
      border-radius: .25em;
      color: white;
      border: solid .15em white;
      padding: .2em;
    }

    span:hover {
      background-color: #4288f7;
    }

  }

  .user-box {

    margin: 5em 10em;

    #username {
      font-size: 5em;
      margin: .5em auto;
      width: 1.8em;
    }

    .item-box {
      border: solid .15em #afcbff;
      border-radius: .5em;
      padding: 1em;
      height: 10em;
      width: 17em;
      margin: 2em auto;
      background-color: #e8f0ff;
    }

    .item-box:hover {
      border: solid .2em grey;
    }

    .add-list{
      width: 4.4em;
      margin: 0 auto;
    }

    a {
      text-decoration: none;
      color: black;
      border: solid .15em black;
      border-radius: .25em;
      padding: .2em;
      width: 4em;

    }

    form {
      margin: 0 auto;
      width: 4em;
    }

  }

  .form-box {
    border: solid .15em black;
    margin: 10em auto;
    height: 20em;
    width: 30em;
  }

  .create-list {
    border: solid .15em black;
    margin: 10em auto;
    height: 20em;
    width: 30em;

  }

  input {
    width: 28em;
  }

  .list {
    margin: 5em;

    input {
      float: left;
      margin: 2em;
      background: none;
      border: solid .15em #afcbff;
      border-radius: .5em;
      padding: 1em;
      height: 10em;
      width: 17em;
      background-color: #e8f0ff;
    }

    input:hover {
      border: solid .2em grey;
    }
  }

}
