body {
  background-color: #EEE;

  nav {
    background-color: #639eff;
    position: fixed;
    top: 0;
    width: 100%;

    img {
      height: 2.75em;
      width: 2.75em;
      margin: .5em .15em .25em 1.5em;
      float: left;
    }

    .name {
      color: white;
      float: left;
      margin: .25em .25em;
      height: 100%;
      font-size: 1.75em;
      line-height: 1.5;
    }

    button {
      float: right;
      margin: 1em 2em;
      border-radius: .25em;
      background-color: white;
    }

  }

  .form-box {
    border: solid .15em black;
    margin: 10em;
    height: 20em;
  }

  .create-list {
    border: solid .15em black;
    margin: 10em;
    height: 20em;

    input {
      width: 20em;

    }
  }

  form {
    margin: 5em;
  }

}
