nav {
  background-color: #4286f4;
  position: fixed;
  width: 100%;

  img {
    height: 8%;
    width: 8%;
    margin: 1% 2%;
    float: left;
  }

  .name {
    color: #eee;
    float: left;
    margin: 2% .25%;
    height: 100%;
    font-size: 2em;
    line-height: 1.5;
  }

  button {
    float: right;
  }

}
